Source: libestr
Priority: optional
Maintainer: Florian Ernst <florian@debian.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0.1
Section: libs
Homepage: https://libestr.adiscon.com/
Vcs-Git: https://salsa.debian.org/debian/libestr.git
Vcs-Browser: https://salsa.debian.org/debian/libestr
Rules-Requires-Root: no

Package: libestr-dev
Section: libdevel
Architecture: any
Depends: libestr0 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: helper functions for handling strings (headers)
 The 'libestr' library contains some essential string manipulation
 functions and more, like escaping special characters.
 .
 This package contains the development files.

Package: libestr0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Helper functions for handling strings (lib)
 The 'libestr' library contains some essential string manipulation
 functions and more, like escaping special characters.
 .
 This package contains the shared library.
